# Student Loan Risk with Deep Learning

In [27]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [28]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [29]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [30]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [31]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking'].values

# Display a sample of y
y

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [32]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=['credit_ranking'])

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [33]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train,X_test,y_train,y_test= train_test_split(X, y, random_state=1)
X_train

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
1144,7.3,0.320,0.23,2.3,0.066,35.0,70.0,0.99588,3.43,0.62,10.1
73,8.3,0.675,0.26,2.1,0.084,11.0,43.0,0.99760,3.31,0.53,9.2
446,12.5,0.380,0.60,2.6,0.081,31.0,72.0,0.99960,3.10,0.73,10.5
399,8.7,0.765,0.22,2.3,0.064,9.0,42.0,0.99630,3.10,0.55,9.4
647,8.3,0.845,0.01,2.2,0.070,5.0,14.0,0.99670,3.32,0.58,11.0
...,...,...,...,...,...,...,...,...,...,...,...
715,7.2,0.490,0.18,2.7,0.069,13.0,34.0,0.99670,3.29,0.48,9.2
905,9.2,0.580,0.20,3.0,0.081,15.0,115.0,0.99800,3.23,0.59,9.5
1096,6.6,0.725,0.09,5.5,0.117,9.0,17.0,0.99655,3.35,0.49,10.8
235,7.2,0.630,0.00,1.9,0.097,14.0,38.0,0.99675,3.37,0.58,9.0
1061,9.1,0.400,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [34]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
x_scaled = scaler.fit(X_train)

# Fit the scaler to the features training dataset
x_trained_scaled = x_scaled.transform(X_train)
x_test_scaled = x_scaled.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [35]:
# Define the the number of inputs (features) to the model
number_of_inputs = len(X_train.columns)

# Review the number of features
number_of_inputs

11

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_node_layer1 = 6

# Define the number of hidden nodes for the second hidden layer
hidden_node_layer2 = 3

# Define the number of neurons in the output layer
number_of_neurons = 1

In [37]:
# Create the Sequential model instance
sequential_model = Sequential()

# Add the first hidden layer
sequential_model.add(Dense(units=hidden_node_layer1,input_dim=number_of_inputs,activation='relu'))

# Add the second hidden layer
sequential_model.add(Dense(units=hidden_node_layer2,activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
sequential_model.add(Dense(units=number_of_neurons,activation='sigmoid'))

c:\Users\reedm\anaconda3.1\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [38]:
# Display the Sequential model summary
sequential_model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [39]:
# Compile the Sequential model
sequential_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [47]:
# Fit the model using 50 epochs and the training data
fit_sequential_model = sequential_model.fit(x_trained_scaled,y_train,epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5980 - loss: 0.6425
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6370 - loss: 0.6378
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6920 - loss: 0.5936
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7274 - loss: 0.5512
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6997 - loss: 0.5547
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7130 - loss: 0.5550
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7089 - loss: 0.5433
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7129 - loss: 0.5294
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7156 - loss: 0.5420
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7168 - loss: 0.5302
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7285 - loss: 0.5304
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7153 - loss: 0.5399
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7248 - loss: 0.5238
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7187 - loss: 0.5404
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7334 - loss: 0.5395
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7222 - loss: 0.5278
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7247 - loss: 0.5379
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7419 - loss: 0.5169
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7412 - loss: 0.5305
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7437 - loss: 0.5246
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7438 - loss: 0.5232
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7387 - loss: 0.5338
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7482 - loss: 0.5126
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7480 - loss: 0.5273
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7192 - loss: 0.5577
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7305 - loss: 0.5207
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7425 - loss: 0.5176
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7404 - loss: 0.5198
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7458 - loss: 0.5161
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7634 - loss: 0.5002
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7354 - loss: 0.5120
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7360 - loss: 0.5221
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7340 - loss: 0.5345
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7555 - loss: 0.5217
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7274 - loss: 0.5179
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7367 - loss: 0.5233
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7462 - loss: 0.4987
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7352 - loss: 0.5245
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7383 - loss: 0.5246
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7217 - loss: 0.5411
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7370 - loss: 0.5132
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7499 - loss: 0.5024
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7279 - loss: 0.5123
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7284 - loss: 0.5170
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7332 - loss: 0.5347
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7476 - loss: 0.5134
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7588 - loss: 0.5044
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7405 - loss: 0.5160
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7610 - loss: 0.4881
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7373 - loss: 0.5124

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [48]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = sequential_model.evaluate(x_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Model Loss: {model_loss},Model Accuracy: {model_accuracy}")

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7598 - loss: 0.4980
Model Loss: 0.5233365297317505,Model Accuracy: 0.7350000143051147

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [49]:
# Set the model's file path
model_file_path = Path("model_file/student_loans.keras")
sequential_model.save(model_file_path)

# Export your model to a keras file

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [50]:
# Set the model's file path
model_file_path = Path('model_file/student_loans.keras')

# Load the model to a new object
loaded_model = tf.keras.models.load_model(model_file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [51]:
# Make predictions with the test data
predictions = loaded_model.predict(x_test_scaled)

# Display a sample of the predictions
predictions

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

array([[0.50704813],
       [0.3437843 ],
       [0.92861485],
       [0.61952114],
       [0.9798154 ],
       [0.76580423],
       [0.9093299 ],
       [0.38313764],
       [0.67945844],
       [0.33468074],
       [0.7510606 ],
       [0.19743761],
       [0.47577578],
       [0.9189459 ],
       [0.515863  ],
       [0.27734184],
       [0.7495301 ],
       [0.3261629 ],
       [0.64480203],
       [0.36361638],
       [0.5376885 ],
       [0.92699885],
       [0.27167138],
       [0.884132  ],
       [0.50387084],
       [0.8983079 ],
       [0.8061694 ],
       [0.57933736],
       [0.35947096],
       [0.68426543],
       [0.49224946],
       [0.9374784 ],
       [0.32912296],
       [0.94113475],
       [0.3177775 ],
       [0.5388453 ],
       [0.20671001],
       [0.26662856],
       [0.9477294 ],
       [0.17551741],
       [0.7943975 ],
       [0.18239845],
       [0.09343903],
       [0.8777258 ],
       [0.13084789],
       [0.704183  ],
       [0.17756532],
       [0.23236348],
       [0.47641566],
       [0.75827646],
       [0.6364144 ],
       [0.14660498],
       [0.8521812 ],
       [0.10178524],
       [0.21276133],
       [0.6796845 ],
       [0.8959708 ],
       [0.8360447 ],
       [0.5861045 ],
       [0.34782422],
       [0.9439852 ],
       [0.13052835],
       [0.2736066 ],
       [0.5847033 ],
       [0.07282961],
       [0.371936  ],
       [0.9226516 ],
       [0.6391555 ],
       [0.59424734],
       [0.94183403],
       [0.3177775 ],
       [0.9129484 ],
       [0.5129702 ],
       [0.4489251 ],
       [0.22553642],
       [0.43034634],
       [0.907381  ],
       [0.18785265],
       [0.5137249 ],
       [0.7307042 ],
       [0.6534281 ],
       [0.24734049],
       [0.15890463],
       [0.44950888],
       [0.47530112],
       [0.27480003],
       [0.23062795],
       [0.9015511 ],
       [0.26752606],
       [0.75498056],
       [0.26186517],
       [0.8819344 ],
       [0.17385466],
       [0.9216672 ],
       [0.6291239 ],
       [0.26456642],
       [0.94158715],
       [0.47786832],
       [0.13765536],
       [0.8760294 ],
       [0.6208947 ],
       [0.2679935 ],
       [0.14894542],
       [0.21266009],
       [0.09077198],
       [0.50074524],
       [0.71122557],
       [0.45764253],
       [0.8695147 ],
       [0.5174053 ],
       [0.9319721 ],
       [0.66558707],
       [0.6245811 ],
       [0.31970802],
       [0.21947238],
       [0.96904147],
       [0.22431716],
       [0.11481062],
       [0.23224391],
       [0.2581576 ],
       [0.09373143],
       [0.98116416],
       [0.7605505 ],
       [0.21409144],
       [0.3013053 ],
       [0.7008735 ],
       [0.68681073],
       [0.20810652],
       [0.70061195],
       [0.6716485 ],
       [0.45687127],
       [0.23405793],
       [0.90118384],
       [0.1775601 ],
       [0.9178442 ],
       [0.68253005],
       [0.14803287],
       [0.9818994 ],
       [0.30591974],
       [0.3421954 ],
       [0.2663018 ],
       [0.5315441 ],
       [0.80226296],
       [0.2324746 ],
       [0.67783177],
       [0.8141812 ],
       [0.37246242],
       [0.06770596],
       [0.6293451 ],
       [0.76383615],
       [0.3742803 ],
       [0.93368024],
       [0.31756103],
       [0.2594047 ],
       [0.8751874 ],
       [0.9117005 ],
       [0.88312703],
       [0.91253865],
       [0.74706584],
       [0.5595672 ],
       [0.8322779 ],
       [0.49292433],
       [0.39188683],
       [0.23833716],
       [0.96128   ],
       [0.72678405],
       [0.29640839],
       [0.23659106],
       [0.12622134],
       [0.64232683],
       [0.32700843],
       [0.73288155],
       [0.20579873],
       [0.33262804],
       [0.9565543 ],
       [0.34320003],
       [0.34600443],
       [0.18917991],
       [0.51990086],
       [0.2645664 ],
       [0.63516164],
       [0.8196839 ],
       [0.57832205],
       [0.53381526],
       [0.87356913],
       [0.9721309 ],
       [0.95533764],
       [0.35498622],
       [0.29607812],
       [0.13276641],
       [0.46635062],
       [0.6372764 ],
       [0.44107294],
       [0.20211919],
       [0.76829565],
       [0.26674587],
       [0.47041208],
       [0.51733625],
       [0.23731449],
       [0.23326789],
       [0.9126304 ],
       [0.3388468 ],
       [0.900179  ],
       [0.161134  ],
       [0.958642  ],
       [0.6454615 ],
       [0.18934344],
       [0.14287165],
       [0.9278903 ],
       [0.5770944 ],
       [0.6545478 ],
       [0.7251172 ],
       [0.14894542],
       [0.93312633],
       [0.3501119 ],
       [0.19335434],
       [0.15717189],
       [0.41682726],
       [0.8125085 ],
       [0.50764763],
       [0.7328845 ],
       [0.19348326],
       [0.3737514 ],
       [0.20953922],
       [0.8419719 ],
       [0.5344655 ],
       [0.38711163],
       [0.69256955],
       [0.9584757 ],
       [0.6651869 ],
       [0.38540244],
       [0.23118956],
       [0.810223  ],
       [0.87087625],
       [0.44452035],
       [0.4960618 ],
       [0.9110795 ],
       [0.21719474],
       [0.38538742],
       [0.3783688 ],
       [0.87178737],
       [0.8748156 ],
       [0.67793876],
       [0.40017718],
       [0.4214219 ],
       [0.8724015 ],
       [0.59012127],
       [0.49389973],
       [0.14674789],
       [0.2756021 ],
       [0.20158373],
       [0.1405839 ],
       [0.8297621 ],
       [0.7099952 ],
       [0.8034934 ],
       [0.23630394],
       [0.2445504 ],
       [0.31551552],
       [0.3277237 ],
       [0.59775686],
       [0.7459675 ],
       [0.2515052 ],
       [0.65818036],
       [0.4462485 ],
       [0.44789332],
       [0.6293451 ],
       [0.6089121 ],
       [0.12336385],
       [0.16924462],
       [0.89986855],
       [0.26598647],
       [0.58335423],
       [0.27151713],
       [0.9053694 ],
       [0.13000473],
       [0.53824997],
       [0.21535933],
       [0.73288155],
       [0.59429145],
       [0.16899888],
       [0.98653394],
       [0.6161984 ],
       [0.4931358 ],
       [0.10756674],
       [0.23597546],
       [0.8248525 ],
       [0.47113925],
       [0.5477349 ],
       [0.14553054],
       [0.5439083 ],
       [0.5898268 ],
       [0.7495301 ],
       [0.740236  ],
       [0.43580693],
       [0.72408247],
       [0.83450484],
       [0.18452214],
       [0.9233454 ],
       [0.13866565],
       [0.32619825],
       [0.5581428 ],
       [0.8651484 ],
       [0.21704309],
       [0.7244762 ],
       [0.28140777],
       [0.35643053],
       [0.1459985 ],
       [0.9291607 ],
       [0.59922886],
       [0.09324472],
       [0.21208043],
       [0.36351246],
       [0.36874872],
       [0.8240643 ],
       [0.5827117 ],
       [0.59035933],
       [0.3721867 ],
       [0.24879712],
       [0.8383936 ],
       [0.9110795 ],
       [0.38892934],
       [0.49805138],
       [0.96059424],
       [0.19613619],
       [0.26674587],
       [0.4942801 ],
       [0.11276179],
       [0.95918167],
       [0.6965095 ],
       [0.47799727],
       [0.8037454 ],
       [0.23189887],
       [0.29072863],
       [0.4983793 ],
       [0.502077  ],
       [0.17820555],
       [0.8754298 ],
       [0.93312633],
       [0.6117641 ],
       [0.43435368],
       [0.18046966],
       [0.2278753 ],
       [0.4825106 ],
       [0.4825751 ],
       [0.3587505 ],
       [0.9832731 ],
       [0.8509412 ],
       [0.6007781 ],
       [0.2063517 ],
       [0.36311823],
       [0.72511727],
       [0.91476953],
       [0.5584358 ],
       [0.9025668 ],
       [0.5032125 ],
       [0.3944862 ],
       [0.957199  ],
       [0.9189459 ],
       [0.14803287],
       [0.07562794],
       [0.3033923 ],
       [0.6898993 ],
       [0.32634977],
       [0.9822036 ],
       [0.33237594],
       [0.16536583],
       [0.31524444],
       [0.24987908],
       [0.65032816],
       [0.4960618 ],
       [0.6539199 ],
       [0.48179907],
       [0.48203254],
       [0.2581407 ],
       [0.3639656 ],
       [0.7795842 ],
       [0.9601816 ],
       [0.947798  ],
       [0.19335434],
       [0.8098988 ],
       [0.8802791 ],
       [0.5693784 ],
       [0.92344785],
       [0.674526  ],
       [0.2701978 ],
       [0.95645875],
       [0.27350113],
       [0.5661992 ],
       [0.5893445 ],
       [0.31027764],
       [0.23559709],
       [0.56347656],
       [0.27233076],
       [0.87812555],
       [0.13810104],
       [0.68319786],
       [0.26752606],
       [0.810223  ],
       [0.4200401 ],
       [0.7874059 ]], dtype=float32)

In [52]:
# Save the predictions to a DataFrame and round the predictions to binary results
test_predictions = pd.DataFrame(columns=['predictions'], data=(predictions))
test_predictions['predictions'] = round(test_predictions['predictions'],0)
test_predictions

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [53]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test,test_predictions['predictions'].values))

              precision    recall  f1-score   support

           0       0.70      0.75      0.73       188
           1       0.77      0.72      0.74       212

    accuracy                           0.73       400
   macro avg       0.73      0.74      0.73       400
weighted avg       0.74      0.73      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**